.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.description {
  color: white;
  font-size: 15px;
  font-family: "Roboto";
  text-align: center;
}

.main-heading {
  font-family: "Roboto";
  font-size: 30px;
}

.box1 {
  background-color: #fbbf24;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.box2 {
  background-color: #38bdf8;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.box3 {
  background-color: #ec4899;
  width: 130px;
  height: 130px;
  margin: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
